#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
}

.opciones {
  display: flex;
  flex-direction: column; /* Alinea los botones verticalmente */
  margin-right: 20px; /* Ajusta el espacio entre los botones y la imagen */
}

.imagen {
  display: flex;
  flex-direction: column; /* Alinea la imagen debajo de los botones */
}

.opciones button {
  width: 100%;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.opciones button:focus {
  outline: none;
}

.opciones button.active {
  background-color: lightblue; /* Cambia el color del fondo cuando está activo */
}

